---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
IndentAccessModifiers: false
AccessModifierOffset: 0
NamespaceIndentation: None
ColumnLimit: 80

BreakBeforeBraces: Linux

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left

AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
SpaceBeforeCpp11BracedList: true

SortIncludes: true
IncludeBlocks: Preserve

FixNamespaceComments: false
