---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
NamespaceIndentation: None
ColumnLimit: 80

BreakBeforeBraces: Linux

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeCpp11BracedList: true

SortIncludes: true
IncludeBlocks: Preserve
